@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

:root
{
    --american-purple: #441c55;
    --maximum-purple: #743282;
    --pearly-purple: #b668a1;
    --kobi: #e2a4c6;
    --golden-yellow: #ffdf00;
    --harvest-gold: #dc9200;

}

*
{
    margin: 0;
    padding: 0;
}

body
{
    color: var(--kobi);

    font-family: "Cormorant Garamond", serif;
    text-shadow: 4px 4px 7.3px rgba(0, 0, 0, 0.5);

    background-color: #310147;
    background-image: url('../images/chapel-15-v2.png'), url('../images/Lines.png');
    background-size: auto, auto;
    mix-blend-mode: plus-darker;

    box-shadow: inset 18px 39px 200px -100px rgba(0, 0, 0, 0.9);
}

hr
{
    color: var(--kobi);
    border-bottom: 0;
}

.container
{
    width: 64em;

    margin: auto;
    padding-top: 2em;
}

.header ul
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding-bottom: 1.5em;
}

.header ul li
{
    display: inline;

    font-size: 24px;
}

.header li:nth-child(2)
{
    color: var(--harvest-gold);
    font-weight: bold;
}

.page-title
{
    padding-top: 0.5em;

    font-size: 5.5em;
    color: var(--harvest-gold);
}

.page-description
{
    padding-top: 2em;

    font-size: 1.7em;
}

.portfolio-portrait
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 4em;
    padding-bottom: 4em;

    width: 100%;
}

.portfolio-portrait img
{
   width: 23%; 
   border-radius: 20px;

   box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.8);
}

.work-showcase
{
    display: flex;
    flex-direction: row;

    padding: 5em 0 5em 0;

    justify-content: space-between;

    gap: 3em;
}

.work-showcase .work
{
    width: 40%;
}

.work img
{
    width: 100%;
}

.section-title
{
    padding-top: 2em;
    padding-bottom: 0.5em;
    color: var(--harvest-gold);

    font-size: 65px;
    text-align: center;
}

.about p
{
    font-size: 26px;
    text-align: center;
}

.work-with-us .section-title
{
    padding-top: 1em;
}

.contact
{
    display: flex;

    gap: 0.5em;

    padding-bottom: 1em;
}

.form
{
    color: var(--harvest-gold);
    font-size: larger;
    font-weight: bold;

    width: 60%;
}

.form table
{
    width: 100%;
    height: 100%;
}

.form table th, td
{
    padding: 0.5em 1.5em 0.5em 0;
}

.form table tr:last-child
{
    text-align: center;
}

.form input, .form textarea
{
    width: 100%;

    border: 2px solid var(--maximum-purple);
    background-color: transparent;
    backdrop-filter: blur(15px);

    color: var(--kobi);
    line-height: 2em;
    font-size: large;

}

.form textarea
{
    resize: none;
}

#btnSendMsg
{
    background-color: var(--maximum-purple);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.55) 1.95px 1.95px 3px,
    inset 3px 3px 40px 0px rgba(0,0,0,0.1);
    
    padding: 0.4em 1em 0.4em 1em;

    font-family: "Cormorant Garamond", serif;
    font-size: 1.1em;
    font-weight: 700;
    color: var(--harvest-gold);

    cursor: pointer;
}

.map
{
    width: 40%;
}

.map iframe
{
    width: 100%;
}

.footer-main
{
    padding: 2em 3em 2em 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-section-title
{
    font-size: 26px;
    font-weight: bold;
    color: var(--harvest-gold);

    padding-bottom: 0.5em;
}

.footer-subsection
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.9em;
}

.footer-subsection ul
{
    list-style: none;
}

.footer-subsection ul li
{
    padding: 0.2em 0 0.2em 0;
}

.copyright
{
    padding: 1em 0 1em 0;
    text-align: center;

    font-family: 'Times New Roman', Times, serif;
    font-size: 0.8em;
}